{% extends 'base.html' %}
{% block content %}
<main>
        <div class="container">
            <h2>Детали задания</h2>
            <div class="task">
                <h3>Название задания</h3>
                <p>Описание задания...</p>
                <date>Дата создания: 2023-08-14</date>
                <div class="buttons">
                    <button>Читать дальше</button>
                    <button>Редактировать</button>
                    <button>Удалить</button>
                    <button>Завершил</button>
                </div>
            </div>
        </div>
    </main>
{% endblock %}