{% extends 'base.html' %}
{% block content %}
<main>
        <div class="container">
            <h2>Детали задания от {{ task.author }} для {{ task.receiver }}</h2>
            <div class="task">
                <h3>{{ task.name }}</h3>
                <p>{{ task.description }}...</p>
                <date>{{task.date}}</date>
                <p> deadline: </p>
                <date>{{ task.deadline }}</date>
                <div class="buttons">
                    {% if not task.status.slug == "zavershil" %}
                    <a href = "{{ task.get_update_url }}">Редактировать</a>
                    <button>Удалить</button>
                    {% if user == task.receiver %}
                    <a href = "{{ task.confirm_task }}">Завершил</a>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}