body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
}

form, .task {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    margin: 0;
}

header ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

header ul li {
    margin-left: 20px;
}

main {
    padding: 20px;
}

date {
    font-weight: bold;
    margin-top: 20px;
}

task h3 {
    margin: 0;
}

task p {
    margin: 10px 0;
}

buttons {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
